<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body align="center">
<h2 align="center">New user</h2>
<a href="/users">Users</a>
<a href="/logout">Logout</a>
<div align="center">
    <form action="#" th:action="@{/users/new/create}" th:object="${user}" method="post">
        <table>
            <tr>
                <td>Surname</td>
                <td><input type="text" th:field="*{surname}"></td>
                <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}"></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </tr>
            <tr>
                <td>Patronymic</td>
                <td><input type="text" th:field="*{patronymic}"></td>
                <td th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}">Patronymic Error</td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" th:field="*{email}"></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
            </tr>
            <tr>
                <td>Role</td>
                <td><select th:field="*{role}">
                    <option th:each="roleName : ${roles}"
                            th:value="${roleName}" th:text="${roleName}">
                    </option>
                </select></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Create</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>