<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body align="center">
<h2 align="center">Reviews</h2>
<a href="/users">Users</a>
<a href="/logout">Logout</a>

<div id="main" align="center">
<table border="1" cellpadding="2">
    <tr>
        <td>№</td>
        <td>Author</td>
        <td>Content</td>
        <td>Date</td>
        <td>Visible</td>
    </tr>
    <tr th:each="review,stat : ${reviews}">
        <td>
            <span th:text="${stat.index + (paginator.page - 1) * paginator.amountElementOnPage + 1}"></span>
        </td>
        <td>
            <span th:text="${review.userDTO.surname}"></span>
            <span th:text="${review.userDTO.name}"></span>
            <span th:text="${review.userDTO.patronymic}"></span>
        </td>
        <td>
            <span th:text="${review.content}"></span>
        </td>
        <td>
            <span th:text="${review.date}"></span>
        </td>
        <td>
            <form action="#" th:action="@{/reviews/{id}/hide(id=${review.id})}" method="post">
                <input type="checkbox" onchange='this.form.submit()'
                       th:checked="${review.visible}">
            </form>
        </td>
        <td>
            <form action="#" th:action="@{/reviews/{id}/delete(id=${review.id})}" method="post">
                <input type="submit" value="Delete">
            </form>
        </td>

    </tr>
</table>
</div>
<div th:with="url=@{/reviews}" align="center">
    <div th:include="paginator :: paginator"></div>
</div>
</body>
</html>