<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body id="main">
<h2 align="center">404</h2>
<span sec:authorize="hasRole('ROLE_SALE')">
        <form action="#" th:action="@{/articles}" method="get">
            <input type="submit" value="Articles">
        </form>
    </span>
<span sec:authorize="hasRole('ROLE_CUSTOMER')">
        <form action="#" th:action="@{/articles}" method="get">
            <input type="submit" value="Articles">
        </form>
    </span>
<span sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
        <form action="#" th:action="@{/users}" method="get">
            <input type="submit" value="Users">
        </form>
    </span>
<div align="center">
    <h1>Uups... page not found! Choose another page!</h1>
</div>
</body>
</html>