<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body align="center">
<h2 align="center">Article</h2>
<div th:replace="header :: header"></div>
<div th:replace="navigation :: article"></div>
<div id="main" align="center">
    <table border="1" cellpadding="2">
        <tr>
            <td>
                <h3>
                    <div th:text="*{article.title}"/>
                </h3>
                <div th:text="*{article.content}"/>
                <br>Author:
                <span th:text="${article.author.name}"/>

                <span th:text="${article.author.surname}"/>
                <br>Date:
                <span th:text="${article.date}"/>
            </td>
            <td sec:authorize="hasRole('ROLE_SALE')">
                <form action="#" th:action="@{/articles/{id}/edit(id=${article.id})}" method="get">
                    <input type="submit" value="Edit article">
                </form>
            </td>
        </tr>
    </table>
    <div sec:authorize="hasRole('ROLE_CUSTOMER')" align="center">
        <form action="#"
              th:action="@{/articles/{articleId}/comments/add(articleId=${article.id})}"
              th:object="${newComment}" method="post">
            <textarea type="text" th:field="*{content}"/>
            <br>
            <input type="submit" value="Send comment">
        </form>
    </div>
    <h2><span th:text="${errorMessage}"/></h2>
    <table border="1" cellpadding="2">
        <tr th:each="comment,stat : ${article.comments}">
            <td>
                <br>Author:
                <span th:text="${comment.author.name}"/>

                <span th:text="${comment.author.surname}"/>
                <br>
                <span th:unless="${comment.headCommentId == null}">
                    <span th:each="commentHead,stat : ${article.comments}">
                        <span th:if="${commentHead.id == comment.headCommentId}">
                            [
                            <span th:text="${commentHead.author.name}"/>

                            <span th:text="${commentHead.author.surname}"/>
                            ],
                        </span>
                    </span>
                </span>
                <span th:text="${comment.content}"/>
                <br>Date:
                <span th:text="${comment.date}"/>
                <div>
                    <div>
                        <form action="#"
                              th:action="@{/articles/{articleId}/comments/add(articleId=${article.id})}"
                              th:object="${newComment}" method="post">
                            <input type="text" th:field="*{content}">
                            <input type="hidden" name="headCommentId" th:value="${comment.id}">
                            <input type="submit" value="Answer">
                        </form>
                    </div>
                    <span sec:authorize="hasRole('ROLE_SALE')">
                <form action="#"
                      th:action="@{/articles/{articleId}/comments/{commentId}/delete(articleId=${article.id}, commentId=${comment.id})}"
                      method="post">
                    <input type="submit" value="Delete">
                </form>
            </span>
                </div>
            </td>
        </tr>
    </table>

</div>

</body>
</html>