<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Article</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style}"/>
</head>
<body>
<h2 align="center">Article</h2>
<nav id="menu" align="center">
    <a href="/articles">Articles</a>
    <a href="/logout">Logout</a>
</nav>
<div id="main" align="center">
    <table border="1" cellpadding="2">
        <tr>
            <td>
                <form action="#" th:action="@{/articles/{id}/update(id=${article.id})}" th:object="${article}" method="post">
                    <h3>
                        <div sec:authorize="hasRole('ROLE_SALE')">
                            <input type="text" th:field="*{title}">
                        </div>
                        <div sec:authorize="hasRole('ROLE_CUSTOMER')">
                            <div th:text="*{title}"/>
                        </div>
                    </h3>
                    <div sec:authorize="hasRole('ROLE_SALE')">
                        <textarea rows="20" cols="50" th:field="*{content}"/>
                    </div>
                    <div sec:authorize="hasRole('ROLE_CUSTOMER')">
                        <div th:text="*{content}"/>
                    </div>
                    <br>Author:
                    <span th:text="${article.author.name}"/>

                    <span th:text="${article.author.surname}"/>
                    <br>Date:
                    <span th:text="${article.date}"/>
                    <div sec:authorize="hasRole('ROLE_SALE')">
                        <button type="submit">Update</button>
                    </div>
                </form>
            </td>
        </tr>
    </table>
    <h2><span th:text="${errorMessage}"/></h2>
    <table border="1" cellpadding="2">
        <tr th:each="comment,stat : ${article.comments}">
            <td>
                <br>Author:
                <span th:text="${comment.author.name}"/>

                <span th:text="${comment.author.surname}"/>
                <br>
                <span th:unless="${comment.headComment == null}">
                    <span th:each="commentHead,stat : ${article.comments}">
                        <span th:if="${commentHead.id == comment.headComment.id}">
                            [
                            <span th:text="${commentHead.author.name}"/>

                            <span th:text="${commentHead.author.surname}"/>
                            ],
                        </span>
                    </span>
                </span>
                <span th:text="${comment.content}"/>
                <br>Date:
                <span th:text="${comment.date}"/>
                <div>
                    <div>
                        <form action="#"
                              th:action="@{/articles/{articleId}/{commentId}/addcomment(articleId=${article.id}, commentId=${comment.id})}"
                              th:object="${newComment}" method="post">
                            <input type="text" th:field="*{content}">
                            <button type="submit">Send</button>
                        </form>
                    </div>
                    <div sec:authorize="hasRole('ROLE_SALE')">
                        <form action="#" th:action="@{/articles/{articleId}/{commentId}/delete(articleId=${article.id}, commentId=${comment.id})}" method="post">
                            <input type="submit" value="Delete">
                        </form>
                    </div>
                </div>

            </td>
        </tr>
    </table>

</div>

</body>
</html>