<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body align="center">
<h2 align="center">Articles</h2>
<div th:replace="header :: header"></div>
<div th:replace="navigation :: articles"></div>
<div id="main" align="center">
    <form th:action="@{/articles/find}" method='GET'>
        Title:
        <input type="text" name="searchRequest" th:value="${searchRequest}"/>
        Date:
        <input type="datetime-local" name="dateRequestStart" th:value="${dateRequestStart}">
        <input type="datetime-local" name="dateRequestStop" th:value ="${dateRequestStop}">
        <input type="submit" value="Find"/>
    </form>

    <table border="1" cellpadding="2">
        <tr th:each="article : ${articlesPage.elements}">
            <td>
                <h3>
                    <div th:text="${article.title}"/>
                </h3>
                    <div th:text="${article.content}"/>
                <br>Author:
                <span th:text="${article.author.name}"/>

                <span th:text="${article.author.surname}"/>
                <br>Comments:
                <span th:text="${article.amountComments}"/>
                <br>Date:
                <span th:text="${article.date}"/>
                <br><a th:href="@{/articles/{id}(id=${article.id})}">Read</a>
                <div sec:authorize="hasRole('ROLE_SALE')">
                    <br><a th:href="@{/articles/{id}/delete(id=${article.id})}">Delete</a>
                </div>
            </td>
        </tr>
    </table>
    <div th:with="url=@{/articles}">
        <div th:replace="paginator :: paginator (pageDTO=${articlesPage})"></div>
    </div>
</div>
<div th:replace="footer :: footer"></div>
</body>
</html>