<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body align="center">
<h2 align="center">Profile</h2>
<div th:replace="header :: header"></div>
<div th:replace="navigation :: profile"></div>
<div id="main" align="center">
    <form action="#" th:action="@{/profile/edit}" th:object="${profile}" method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td><input type="text" th:field="*{surname}"></td>
                <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" th:field="*{address}"></td>
                <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</td>
            <tr>
                <td>Phone:</td>
                <td><input type="text" th:field="*{phone}"></td>
            <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</td>
            <tr>
                <td>New Password:</td>
                <td><input type="text" name="newPassword"></td>
            </tr>
            <tr>
                <td>Repeat New Password:</td>
                <td><input type="text" name="repeatNewPassword"></td>
            </tr>
        </table>
        <input type="submit" value="Update">
    </form>
</div>
</body>
</html>