<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Item</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body align="center">
<h2 align="center">Item</h2>
<div th:replace="header :: header"></div>
<div th:replace="navigation :: item"></div>
<div id="main" align="center">

    <table border="1" cellpadding="2">
        <tr>
            <td>Name</td>
            <td>
                <span th:text="${item.name}"></span>
            </td>
        </tr>
        <tr>
            <td>Unique Number</td>
            <td>
                <span th:text="${item.uniqueNumber}"></span>
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <span th:text="${item.description}"></span>
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td>
                <span th:text="${item.price}"></span>
            </td>
        </tr>
    </table>
</div>

</body>
</html>