<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body align="center">
<h2 align="center">Items</h2>
<div th:replace="header :: header"></div>
<div th:replace="navigation :: items"></div>
<div id="main" align="center">
    <table border="1" cellpadding="2">
        <div th:if="${message}">
            <div th:text="${message}"/>
        </div>
        <tr>
            <td>№</td>
            <td>Name</td>
            <td>UniqNumber</td>
            <td>Price</td>
        </tr>
        <tr th:each="item,stat : ${itemsPage.elements}">
            <td>
                <span th:text="${stat.index + (itemsPage.page - 1) * itemsPage.amountElementsOnPage + 1}"></span>
            </td>
            <td>
                <span th:text="${item.name}"></span>
            </td>
            <td>
                <span th:text="${item.uniqueNumber}"></span>
            </td>
            <td>
                <span th:text="${item.price}"></span>
            </td>
            <td>
                <form sec:authorize="hasRole('ROLE_CUSTOMER')" action="#" th:action="@{/items/{id}/buy(id=${item.id})}"
                      method="post">
                    <input type="number" name="amount"/>
                    <br>
                    <input type="submit" value="Buy">
                </form>
                <br>
                <form sec:authorize="hasRole('ROLE_SALE')" action="#" th:action="@{/items/{id}(id=${item.id})}">
                    <input type="submit" value="More...">
                </form>
                <br>
                <form sec:authorize="hasRole('ROLE_SALE')" action="#" th:action="@{/items/{id}/copy(id=${item.id})}"
                      method="get">
                    <input type="submit" value="Copy">
                </form>
                <br>
                <form sec:authorize="hasRole('ROLE_SALE')" action="#" th:action="@{/items/{id}/delete(id=${item.id})}"
                      method="get">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    </table>
    <div th:with="url=@{/items}">
        <div th:replace="paginator :: paginator (pageDTO=${itemsPage})"></div>
    </div>
</div>
<div th:replace="footer :: footer"></div>
</body>
</html>