<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New article</title>
</head>
<body align="center">
<h2 align="center">New article</h2>
<a href="/articles">Articles</a>
<a href="/logout">Logout</a>
<div align="center">
    <form action="#" th:action="@{/articles/new}" th:object="${article}" method="post">
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" th:field="*{title}"></td>
            </tr>
            <tr>
                <td>Content</td>
                <td><input type="text" th:field="*{content}"></td>
            </tr>
            <tr>
                <td>Date:</td>
                <td><input type="date" th:field="*{date}"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Create</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>