<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav id="paginator" align="center">
    <div id="page" th:fragment="paginator (pageDTO)">
        <span>
            <a th:href="@{${url}(page=${pageDTO.page - 1},amountElement=${pageDTO.amountElementsOnPage})}">Previous</a>
        </span>
        <span
             th:each="pageRef : ${#numbers.sequence(1, pageDTO.amountElements/pageDTO.amountElementsOnPage+1)}">
            <a th:if="${pageRef == 1}"
               th:href="@{${url}(page=${pageRef},amountElement=${pageDTO.amountElementsOnPage})}"
               th:text="${pageRef}"></a>
            <a th:if="${(pageRef == (pageDTO.page-2) or pageRef == (pageDTO.page+2))}"
               th:href="@{${url}(page=${pageRef},amountElement=${pageDTO.amountElementsOnPage})}"
               th:text="..."></a>
            <a th:if="${pageRef >= (pageDTO.page - 1) and pageRef <= (pageDTO.page + 1) and pageRef != 1 and pageRef != pageDTO.amountElements/pageDTO.amountElementsOnPage+1}"
               th:href="@{${url}(page=${pageRef},amountElement=${pageDTO.amountElementsOnPage})}"
               th:text="${pageRef}"></a>
            <a th:if="${pageRef == pageDTO.amountElements/pageDTO.amountElementsOnPage+1 and pageRef != 1}"
               th:href="@{${url}(page=${pageRef},amountElement=${pageDTO.amountElementsOnPage})}"
               th:text="${pageRef}"></a>
        </span>
        <span>
            <a th:href="@{${url}(page=${pageDTO.page + 1},amountElement=${pageDTO.amountElementsOnPage})}">Next</a>
        </span>
        <div>
            <form action="" th:action="@{${url}(page=${pageDTO.page},amountElement=${elementsOnPage})}">
                <select name="amountElement" onchange='this.form.submit()'>
                    <option th:each="amountVariant : ${new Integer[]{5, 10, 20}}"
                            th:value="${amountVariant}" th:text="${amountVariant}"
                            th:selected="${amountVariant == pageDTO.amountElementsOnPage}">
                    </option>
                </select>
            </form>
        </div>

    </div>
</nav>
</body>
</html>