<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style}"/>
</head>
<body>
<h2 align="center">Profile</h2>
<nav id="menu" align="center">
    <a href="/articles">Articles</a>
    <a href="/logout">Logout</a>
</nav>
<div id="main" align="center">
    <table border="1" cellpadding="2">
        <tr>
            <td>
                Name:
                <span th:text="${profile.user.name}"/>
                <br>Surname:
                <span th:text="${profile.user.surname}"/>
                <br>Address:
                <span th:text="${profile.address}"/>
                <br>Phone:
                <span th:text="${profile.phone}"/>
            </td>
        </tr>
    </table>
    <a href="/profile/edit">Edit</a>
</div>
</body>
</html>