<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body align="center">
<h2 align="center">Profile</h2>
<div th:replace="header :: header"></div>
<div th:replace="navigation :: profile"></div>
<div align="center" id="main">
    <table border="1" cellpadding="2">
        <tr>
            <td>
                Name:
                <span th:text="${profile.user.name}"/>
                <br>Surname:
                <span th:text="${profile.user.surname}"/>
                <br>Address:
                <span th:text="${profile.address}"/>
                <br>Phone:
                <span th:text="${profile.phone}"/>
            </td>
        </tr>
    </table>
    <div>
        <form action="#" th:action="@{/profile/edit}" method="get">
            <input type="submit" value="Edit">
        </form>
    </div>
</div>
</body>
</html>