<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<a href="/logout">Logout</a>
<table>
    <tr>
        <td>№</td>
        <td>Surname</td>
        <td>Name</td>
        <td>Patronymic</td>
        <td>Email</td>
        <td>Role</td>
    </tr>
    <tr th:each="user,stat : ${users}">
            <td>
                <span th:text="${stat.index + 1}"></span>
            </td>
            <td>
                <span th:text="${user.surname}"></span>
            </td>
            <td>
                <span th:text="${user.name}"></span>
            </td>
            <td>
                <span th:text="${user.patronymic}"></span>
            </td>
            <td>
                <span th:text="${user.email}"></span>
            </td>
            <td>
                <select>
                    <option th:each="role :  ${roles}"
                            th:value="${role}" th:text="${role}"
                            th:selected="${role == user.getRole().name}"></option>
                </select>
            </td>
        </form>
    </tr>
</table>
</body>
</html>