<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<a href="/logout">Logout</a>
<form action="#" th:action="@{/users/delete}" th:object="${userIds}" method="post">
    <table>
        <tr>
            <td>№</td>
            <td>Surname</td>
            <td>Name</td>
            <td>Patronymic</td>
            <td>Email</td>
            <td>Role</td>
            <td>Deleted</td>
        </tr>
        <tr th:each="user,stat : ${users}">

            <td>
                <span th:text="${stat.index + 1}"></span>
            </td>
            <td>
                <span th:text="${user.surname}"></span>
            </td>
            <td>
                <span th:text="${user.name}"></span>
            </td>
            <td>
                <span th:text="${user.patronymic}"></span>
            </td>
            <td>
                <span th:text="${user.email}"></span>
            </td>
            <td>
                <form action="" th:action="@{/users/{id}/changerole(id=${user.id})}" method="post">
                    <select name="role" onchange='this.form.submit()'>
                        <option th:each="role : ${roles}"
                                th:value="${role}" th:text="${role}"
                                th:selected="${role == user.getRole().name}">
                        </option>
                    </select>
                </form>
            </td>
            <td>
                <input type="checkbox"
                       th:name="${}"
                       th:value="${user.id}"
                       th:checked="${user.deleted}">
            </td>
        </tr>
    </table>
    <input type="submit" value="Delete">
</form>
</body>
</html>